# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
run-server/banned-ips.json
run-server/banned-players.json
run-server/config/ars_nouveau-common.toml
run-server/config/ars_nouveau/accelerate.toml
run-server/config/ars_nouveau/acid.toml
run-server/config/ars_nouveau/adrenaline.toml
run-server/config/ars_nouveau/advanced_amplify.toml
run-server/config/ars_nouveau/amplify.toml
run-server/config/ars_nouveau/animate_block.toml
run-server/config/ars_nouveau/aoe.toml
run-server/config/ars_nouveau/aquatic.toml
run-server/config/ars_nouveau/blink.toml
run-server/config/ars_nouveau/bounce.toml
run-server/config/ars_nouveau/brambles.toml
run-server/config/ars_nouveau/break.toml
run-server/config/ars_nouveau/carve.toml
run-server/config/ars_nouveau/cold_snap.toml
run-server/config/ars_nouveau/conjure_water.toml
run-server/config/ars_nouveau/craft.toml
run-server/config/ars_nouveau/crush.toml
run-server/config/ars_nouveau/curse.toml
run-server/config/ars_nouveau/cut.toml
run-server/config/ars_nouveau/dampen.toml
run-server/config/ars_nouveau/delay.toml
run-server/config/ars_nouveau/demonic_curse.toml
run-server/config/ars_nouveau/demonic_light.toml
run-server/config/ars_nouveau/diamond.toml
run-server/config/ars_nouveau/disenchant.toml
run-server/config/ars_nouveau/dispel.toml
run-server/config/ars_nouveau/drown.toml
run-server/config/ars_nouveau/duration_down.toml
run-server/config/ars_nouveau/enchant.toml
run-server/config/ars_nouveau/ender_inventory.toml
run-server/config/ars_nouveau/evaporate.toml
run-server/config/ars_nouveau/exchange.toml
run-server/config/ars_nouveau/explosion.toml
run-server/config/ars_nouveau/extend_time.toml
run-server/config/ars_nouveau/extract.toml
run-server/config/ars_nouveau/fangs.toml
run-server/config/ars_nouveau/fell.toml
run-server/config/ars_nouveau/fireball.toml
run-server/config/ars_nouveau/firework.toml
run-server/config/ars_nouveau/flare.toml
run-server/config/ars_nouveau/flatten.toml
run-server/config/ars_nouveau/fortune.toml
run-server/config/ars_nouveau/freeze.toml
run-server/config/ars_nouveau/glide.toml
run-server/config/ars_nouveau/gravity.toml
run-server/config/ars_nouveau/grow.toml
run-server/config/ars_nouveau/gust.toml
run-server/config/ars_nouveau/harm.toml
run-server/config/ars_nouveau/harvest.toml
run-server/config/ars_nouveau/haste.toml
run-server/config/ars_nouveau/heal.toml
run-server/config/ars_nouveau/heartstop.toml
run-server/config/ars_nouveau/hell_flare.toml
run-server/config/ars_nouveau/hellfire.toml
run-server/config/ars_nouveau/hex.toml
run-server/config/ars_nouveau/ignite.toml
run-server/config/ars_nouveau/intangible.toml
run-server/config/ars_nouveau/interact.toml
run-server/config/ars_nouveau/invisibility.toml
run-server/config/ars_nouveau/launch.toml
run-server/config/ars_nouveau/lead_skin.toml
run-server/config/ars_nouveau/leap.toml
run-server/config/ars_nouveau/light.toml
run-server/config/ars_nouveau/lightning.toml
run-server/config/ars_nouveau/linger.toml
run-server/config/ars_nouveau/melt.toml
run-server/config/ars_nouveau/missile.toml
run-server/config/ars_nouveau/orbit.toml
run-server/config/ars_nouveau/overhead.toml
run-server/config/ars_nouveau/phantom_block.toml
run-server/config/ars_nouveau/pickup.toml
run-server/config/ars_nouveau/pierce.toml
run-server/config/ars_nouveau/place_block.toml
run-server/config/ars_nouveau/poison_flower.toml
run-server/config/ars_nouveau/projectile.toml
run-server/config/ars_nouveau/propagate_missile.toml
run-server/config/ars_nouveau/propagate_orbit.toml
run-server/config/ars_nouveau/propagate_overhead.toml
run-server/config/ars_nouveau/propagate_projectile.toml
run-server/config/ars_nouveau/propagate_self.toml
run-server/config/ars_nouveau/propagate_underfoot.toml
run-server/config/ars_nouveau/pull.toml
run-server/config/ars_nouveau/redstone_signal.toml
run-server/config/ars_nouveau/rot.toml
run-server/config/ars_nouveau/rune.toml
run-server/config/ars_nouveau/scald.toml
run-server/config/ars_nouveau/self.toml
run-server/config/ars_nouveau/sensitive.toml
run-server/config/ars_nouveau/shield.toml
run-server/config/ars_nouveau/slowfall.toml
run-server/config/ars_nouveau/smelt.toml
run-server/config/ars_nouveau/snare.toml
run-server/config/ars_nouveau/soulfire.toml
run-server/config/ars_nouveau/split.toml
run-server/config/ars_nouveau/strength.toml
run-server/config/ars_nouveau/summon_decoy.toml
run-server/config/ars_nouveau/summon_steed.toml
run-server/config/ars_nouveau/summon_vex.toml
run-server/config/ars_nouveau/summon_wolves.toml
run-server/config/ars_nouveau/swap_target.toml
run-server/config/ars_nouveau/toss.toml
run-server/config/ars_nouveau/touch.toml
run-server/config/ars_nouveau/transmute.toml
run-server/config/ars_nouveau/underfoot.toml
run-server/config/ars_nouveau/vine_grab.toml
run-server/config/ars_nouveau/wind_shear.toml
run-server/config/ars_nouveau/wither.toml
run-server/config/ars_nouveau/wither_summon.toml
run-server/config/fml.toml
run-server/config/forge-common.toml
run-server/eula.txt
run-server/logs/2022-04-18-1.log.gz
run-server/logs/2022-04-18-2.log.gz
run-server/logs/2022-04-18-3.log.gz
run-server/logs/2022-04-18-4.log.gz
run-server/logs/debug-1.log.gz
run-server/logs/debug-2.log.gz
run-server/logs/debug-3.log.gz
run-server/logs/debug-4.log.gz
run-server/logs/debug.log
run-server/logs/latest.log
run-server/ops.json
run-server/server.properties
run-server/usercache.json
run-server/usernamecache.json
run-server/whitelist.json
run-server/world/advancements/380df991-f603-344c-a090-369bad2a924a.json
run-server/world/data/capabilities.dat
run-server/world/data/raids.dat
run-server/world/DIM-1/data/capabilities.dat
run-server/world/DIM-1/data/raids.dat
run-server/world/DIM1/data/capabilities.dat
run-server/world/DIM1/data/raids_end.dat
run-server/world/dimensions/arsomega/demon_realm/data/capabilities.dat
run-server/world/dimensions/arsomega/demon_realm/data/raids.dat
run-server/world/dimensions/arsomega/demon_realm/poi/r.-1.0.mca
run-server/world/dimensions/arsomega/demon_realm/poi/r.0.0.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.-1.-1.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.-1.0.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.-1.1.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.0.-1.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.0.0.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.0.1.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.1.-1.mca
run-server/world/dimensions/arsomega/demon_realm/region/r.1.0.mca
run-server/world/level.dat
run-server/world/level.dat_old
run-server/world/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run-server/world/poi/r.0.-1.mca
run-server/world/poi/r.0.0.mca
run-server/world/region/r.-1.-1.mca
run-server/world/region/r.-1.0.mca
run-server/world/region/r.0.-1.mca
run-server/world/region/r.0.0.mca
run-server/world/region/r.1.-1.mca
run-server/world/region/r.1.0.mca
run-server/world/serverconfig/curios-server.toml
run-server/world/serverconfig/forge-server.toml
run-server/world/session.lock
run-server/world/stats/380df991-f603-344c-a090-369bad2a924a.json
