# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-server

# Files from Forge MDK
forge*changelog.txt
*.log
hs_err_pid21360.log

src/main/java/com/dkmk100/arsomega/client/temp/*
